# File for app envs template

# Site Configuration
NEXT_PUBLIC_VERCEL_URL=

# Logging configuration
# LOG_LEVEL can be: fatal, error, warn, info, debug, trace
LOG_LEVEL=debug

# Sanity.io Configuration
# Get these values from https://www.sanity.io/manage
NEXT_PUBLIC_SANITY_PROJECT_ID=your-project-id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-01-27